
.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  padding-top: 40px;
  opacity: 90%;
  margin-bottom: 15px;
}  
.screen-header__icons {
padding-right: -66%;
}

.screen-header__icons-c {
  padding-right: 36%;
}
.screen-header__title {
font-size: 32px;
font-weight: 600;
}
.screen-header__icons span {
margin-left: 25px;
}
@keyframes ratateCog {
  from {
    transform: none;
 
   }
   to{
   transform: rotateZ(360deg)

   }
}

.screen-header__icons .fa-cog:hover {
  animation:  rotateCog  1s linear infinite;
}